@import './variables';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}

body{
    min-height: 100vh;
    font-size: 1.6rem;
    background: $background-bg;
    color:$text-color;
    font-family: $font;
    display: grid;
}





